// 本專案已啟用 stylelint （統一 .scss），建議不要使用 .sass ，避免無法統一格式
// 使用 VSCode 建議安裝套件
// stylelint: https://marketplace.visualstudio.com/items?itemName=stylelint.vscode-stylelint

// --------------------------------------------------------

// 說明
//  * sass/layout/_common.scss：通用於所有SCSS/SASS變數檔案
//      - variable（變數）、mixin、function
//      - 所有頁面檔案都建議要載入該之檔案
//      - 避免寫實際的樣式於該檔案內（包含檔案內 @import 的其它檔案）
//  * sass/layout/_layout.sass：Layout樣式 Loader、Header、Footer
//  * sass/layout/_global.sass：內頁基本元件
//    - HTML Tag
//    - 表單(Form)相關元件
//    - 修改Foundation元件/修改套件
//    - keyframes
//    - 要跨單元使用的放在此檔案
//  * 每個單元只開一個css(如果有sass、scss檔案綜合的單元)，需統一 import 到一個檔案上（要寫註解）
//  * Foundation大部分的元件沒有載入
//    - 請見sass/foundation/_foundation.scss 後半部 @mixin foundation-everything後
//    - 需要載入請開啟註解的 @include

// --------------------------------------------------------

// Main Style
@use 'sass:meta';
@use 'layout/common';

// --------------------------------------------------------

/* Font */
@use 'layout/font';
@use 'vendor/font/icons';

// --------------------------------------------------------

/* Icon */
// "layout/main_style" 已 import "../vendor/font/icons";
// @import "vendor/font/icons"; // 載入Icon Font 變數
@include icons.font-icon;

// --------------------------------------------------------

/* Framework */

// --------------------------------------------------------

/* Vendor */

// --------------------------------------------------------

/* Global */
@include meta.load-css('layout/global');

/* Layout */
@include meta.load-css('layout/layout');

/* Components */
@include meta.load-css('components/flex');
@include meta.load-css('components/btn');
@include meta.load-css('components/form');
@include meta.load-css('components/table');
@include meta.load-css('components/modal');
@include meta.load-css('components/keyframes');
@include meta.load-css('components/text-clamp');
