{
	"presets": [
		[
			"@babel/env",
			{
				"targets":{
					"browsers": "last 2 versions, > 1%, ie >= 11"
				},
				"modules": false
			}
		]
	],
	"plugins": [
		[
			"@babel/plugin-transform-runtime", {
				"corejs": 2
			}
		],
		"transform-class-properties",
		"transform-es2015-object-super"
	],
	"sourceType": "script", // 取消use strict 模式
	"retainLines": true // 保留原本的程式排版（因為編譯後的註解會被換行或更改，沒有其他替代方案先使用這個）
}
