// --------------------------------------------------------
//
// 每個頁面引入的檔案
//
// --------------------------------------------------------
// 說明 (完整說明見) src/sass/all.sass
// * 此檔案包含：通用於所有SCSS/SASS變數檔案
//      - 變數、mixin、function
//      - 所有單元都建議須要載入之樣式
//      - 避免寫實際的樣式於該檔案內（包含檔案內 @import 之其它CSS檔案）
// --------------------------------------------------------

@charset 'utf-8';

// Vendor

// Icon Font
@use '../vendor/font/icons'; // 載入Icon Font 變數

// Function
@use '../vendor/trig'; // 三角函數
@use '../vendor/photoshop-function'; // Photoshop 效果轉換
@use '../vendor/function'; // 常用的 Function

// Utils
@use '../utils/variables';
@use '../utils/functions';
@use '../utils/mixins';
