//- ---------------------------------------- [START] 生成顯示幾乘幾的灰色圖
//- 使用方式
  img(src=imgRender(寬, 高))
-
  function imgRender(width, height, color) {
    return `https://via.placeholder.com/${width}x${height}/${color||'ccc'}`
  }
//- ---------------------------------------- [END] 生成顯示幾乘幾的灰色圖
